<nav class="navbar" style="background-color: #333; color: #fff; padding: 10px 0;">
  <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
      <a class="navbar-brand" href="#" style="text-decoration: none; color: #fff;">Ashique Player</a>
      <ul class="nav-menu" style="list-style-type: none; margin: 0; padding: 0;">
          <li class="nav-item" style="display: inline-block; margin-left: 20px;"><a href="/homepage/" style="text-decoration: none; color: #fff;">Home</a></li>
          <li class="nav-item" style="display: inline-block; margin-left: 20px;"><a href="/login/" style="text-decoration: none; color: #fff;">Login</a></li>
          <li class="nav-item" style="display: inline-block; margin-left: 20px;"><a href="/spotify" style="text-decoration: none; color: #fff;">Music</a></li>
          <li class="nav-item" style="display: inline-block; margin-left: 20px;">
        <a href="/signout/" style="text-decoration: none; color: #fff;">signout</a>
          <li class="nav-item" style="display: inline-block; margin-left: 20px;">
            <a href="/contact/" style="text-decoration: none; color: #fff;">Contact</a>

        </li>
        

      </ul>
  </div>
</nav>
